<md-toolbar color="primary">
  <span>LogViewer {{selectedLog}}</span>

  <span class="spacer"></span>
 <md-select placeholder="Select Log" [ngModel]="selectedLog" (ngModelChange)="onChange($event)">
      <md-option *ngFor="let logs of logsTables" [value]="logs.Name">
        {{ logs.Name }}
      </md-option>
</md-select>
</md-toolbar>

    <md-card *ngFor="let log of logEntrys; let i = index">
      <md-card-content>
        <h1>{{ log.Logger }}</h1>

        <p>{{ log.Message }}</p>
        <p>{{ log.Exception }}</p>

      </md-card-content>
      <md-card-actions>
        <!--<button md-button>
            <i class="material-icons">today</i> {{log.Date | date: 'short' }}
        </button>
        <button md-button>
            <i class="material-icons">developer_mode</i> {{log.Level}}
        </button>
        <button md-button>
            <i class="material-icons">computer</i> {{log.Environment}}
        </button>-->
      </md-card-actions>
    </md-card>

