<alert type="success">Welcome to the {{title}} - Env:<a href="{{currentEnv}}" class="alert-link">{{currentEnv}}</a> - Log Viewers: {{logViewers.length}}
    <button *ngIf="logViewers.length < 4" (click)="addViewer()" class="pull-right" md-raised-button><i class="material-icons">add</i> Add Viewer </button>
    <button *ngIf="logViewers.length > 1" (click)="removeViewer()" class="pull-right" md-raised-button style="color: red;"><i class="material-icons">remove</i> Remove Viewer </button>
    <div class="clearfix"></div>
</alert>

<div *ngFor="let logViewer of logViewers" class="col-lg-{{ 12 / logViewers.length }} col-md-12 col-sm-12 col-xs-12">
    <app-log-viewer>Loading Log Viewer...</app-log-viewer>
</div>