<md-toolbar color="primary">

  <md-select placeholder="Log" [ngModel]="selectedLog" (ngModelChange)="onChangeLog($event)" style="padding:10px; padding-top:35px; width:250px;">
    <md-option *ngFor="let logs of logsTables" [value]="logs.name">
      {{ logs.name }}
    </md-option>
  </md-select>

  <span class="spacer"></span>
  <md-checkbox [(ngModel)]="showExceptions">Exceptions</md-checkbox>
  <span class="spacer"></span>
  <md-select placeholder="Environment" [ngModel]="selectedEnvironment" (ngModelChange)="onChangeEnvironment($event)" style="padding:10px; padding-top:35px;">
    <md-option *ngFor="let environment of logEnvironments" [value]="environment.name">
      {{ environment.name }}
    </md-option>
  </md-select>
  <md-select placeholder="Logging Level" [ngModel]="selectedLevel" (ngModelChange)="onChangeLevel($event)" style="padding:10px; padding-top:35px;">
    <md-option *ngFor="let level of logLevels" [value]="level.name">
      {{ level.name }}
    </md-option>
  </md-select>

</md-toolbar>
<div class="paginationHolder">
  <pagination [totalItems]="totalRecords" [(ngModel)]="skip" (pageChanged)="pageChanged($event)"></pagination>

</div>
<md-card *ngFor="let log of logEntrys; let i = index">

  <md-card-title style="font-size: 16px;">{{ log.logger }}</md-card-title>
  <md-card-subtitle>{{ log.message }}</md-card-subtitle>
  <p style="line-height: 0; vertical-align: middle; display: inline-flex;">
    <i class="material-icons md-18 inline-icon-first">today</i> {{log.date | date: 'short' }}

    <i class="material-icons md-18 inline-icon">developer_mode</i> {{log.level}}

    <i class="material-icons md-18 inline-icon">computer</i> {{log.environment}}
  </p>
  <md-card-content>
    <p style="font-size: 10px;" *ngIf="showExceptions">{{ log.exception }}</p>
  </md-card-content>

</md-card>

<md-card *ngIf="logEntrys?.length == 0">
  <md-card-content>
    <h3>No log entries for these filters</h3>
  </md-card-content>
</md-card>