/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

body {
    /*padding: 2em 15em;*/
    background-color: lightgray;
}

/*#page-padding {
    padding: 0 1.5em 1.5em 1.5em;
}*/

label {
    font-weight:bold;
    margin:1.5em 0;
    display:block;
}

.red-color {
    color:red;
}

.md-slider-horizontal {
    width:100%;
}

.mat-select-value-text {
    color: white;
    min-width: 5em;
}

.mat-select-placeholder, .mat-floating-placeholder {
 color: white;
}

