/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

body {
    /*padding: 2em 15em;*/
    background-color: lightgray;
}

/*#page-padding {
    padding: 0 1.5em 1.5em 1.5em;
}*/

label {
    font-weight:bold;
    margin:1.5em 0;
    display:block;
}

.md-slider-horizontal {
    width:100%;
}

.mat-select-value-text {
    color: white;
    min-width: 5em;
}

.mat-select-placeholder, .mat-floating-placeholder {
 color: white;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.orange600 { color: #FB8C00; }

.material-icons.danger { color: #ff4444; }
.material-icons.danger-dark { color: #cc0000; }

.material-icons.warning { color: #ffbb33; }
.material-icons.warning-dark { color: #ff8800; }

.material-icons.success { color: #00c851; }
.material-icons.success-dark { color: #007e33; }

.material-icons.info { color: #33b5e5; }
.material-icons.info-dark { color: #0099cc; }

.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}








